<?xml version="1.0" encoding="utf-8"?>

<plugin>
    <name>VKontakte connect</name>
    <key>vkconnect</key>
    <description>Allow users to join, sign in, and synchronize profile info using their VKontakte accounts</description>
    <author>Sergey Kambalin</author>
    <authorEmail>greyexpert@gmail.com</authorEmail>
    <developerKey>4de7d12343ccb157ece55b3ec3feadf5</developerKey>
    <build>1300</build>
    <copyright>(C) 2012 Sergey Kambalin. All rights reserved.</copyright>
    <license>OSCL</license>
    <licenseUrl>http://www.oxwall.org/store/oscl</licenseUrl>
</plugin>
